.movie-cardzz {
    --transition-duration: 700ms;
    color: white;
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    font-size: 16px; 
    height: min(21em, 90vh);
    cursor: pointer;
    aspect-ratio: 16/9;
    box-shadow: var(--shadow-lg), var(--shadow-lg), var(--shadow-lg);
    transition: transform var(--transition-duration);
    /* background-color: black; */
    max-height:15vw;
    max-width: 400px;
    font-weight: 300;
    &::after {
      content: "";
      position: absolute;
      /* inset: 0; */
      background: radial-gradient(
        circle at 80% -150%,
        transparent 60%,
        rgba(0, 0, 0, 0.5)
      );
      transition: box-shadow var(--transition-duration);
      mix-blend-mode: overlay;
    }
  }
  
 
  
  .contentzz {
    z-index: 1;
    position: absolute;
    bottom: min(2.5em, 6vmin);
    left: min(3em, 8vmin);
    right: min(3em, 8vmin);
    text-align: left;
    transition-delay: calc(var(--transition-duration) / 8);
    transition-duration: calc(var(--transition-duration) / 2);
  
    > * {
      position: relative;
      will-change: transform;
    }
  }
  
  .headerone {
    font-size: 1.8em;
    color: inherit;
    margin: 0;
    
  }
  
  /* .infos {
    font-size: 0.8em;
    font-weight: bold;
    color: #eee;
    display: flex;
    gap: 0.35em;
    align-items: flex-end;
  
    span {
      line-height: 1;
    }
  } */
  
  .synopsiszz {
   
    font-size: 0.8em;
    line-height: 1.4;
    margin-block: 0.75em;
    transition-delay: calc(var(--transition-duration) / 8);
    transition-property: opacity, transform;
    transition-duration: calc(var(--transition-duration) / 2);
    margin-top:10px;
    font-weight: 100 !important;
    

  }
  
  .iconszz {
    display: flex;
    gap: 0.5em;
  
    svg {
      height: 1.2em;
      width: auto;
      transition-property: opacity, transform;
      transition-duration: calc(var(--transition-duration) / 2);
      transition-delay: 0s;
    }
  }
  
  .movie-cardzz:hover {
    transform: scale(1.03);
    .synopsiszz {
      transition-duration: var(--transition-duration);
      transition-delay: calc(var(--transition-duration) / 3);
    }
  
    .iconszz svg {
      &:nth-child(1) {
        transition-delay: calc(var(--transition-duration) / 1.8);
      }
      &:nth-child(2) {
        transition-delay: calc(var(--transition-duration) / 1.6);
      }
      &:nth-child(3) {
        transition-delay: calc(var(--transition-duration) / 1.4);
      }
    }
  }
  
  .movie-cardzz:not(:hover) {
    .synopsiszz {
      opacity: 0;
      transform: translateY(1em);
    }
    .iconszz svg {
      opacity: 0;
      transform: translateY(50%);
    }
    .contentzz {
      transform: translateY(calc(100% - 4.5em));
    }
  }

  .movie-cardszz-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap; /* Allows cards to wrap to the next line if they exceed the container width */
}
.border{
border-bottom: none
};