.dashboard{
   display: flex;
   justify-content: space-between;
   padding: 24px;
   gap: 20px;
   background-color:white;
   font-size: 20px;
}

.dashboard1{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    gap: 20px;
    background-color:white;
    font-size: 20px;
 }