.rbc-toolbar{
    background: #20175a ;
    color: white !important;
    font-weight: 600;
   padding: 10px ;
   border-radius: 6px ;
  
  }
  .rbc-btn-group{
    background: #8ea4c2;
    color:white !important;
    font-weight:900;
    height: inherit !important;
    border-radius:6px;
  }
  
  .rbc-toolbar-label{
    font-family: 'Playball' !important;
  }
  .rbc-btn-group button{
    text-transform: capitalize !important;
  }
  .rbc-btn-group > button{
    color:white !important;
    font-weight: 700;
  }
  .rbc-btn-group > button:hover{
    color:black !important;
    font-weight: 700;
  }
  button.rbc-active{
    color:black !important;
  }