@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

.Xicon:hover{
    fill: #1D9BF0;
}

/* Dashboard & Account Setting OverRidded Styles */
.css-es2y2d{
  margin: 80px 0px 0px 0px !important;
  padding-bottom: 0px !important;
}

.css-15hdw6p{
  margin-top: 80px !important;
  padding: 20px 20px 0px 20px !important;
}
/* End */





  
