@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.Xicon:hover{
    fill: #1D9BF0;
}
.css-es2y2d{
  margin-top: 80px !important;
}
/* body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */




  
