html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] 
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}


.container,
.container-sm {
	width: 100%;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px
}

@media (min-width: 481px) {

	.container,
	.container-sm {
		padding-left: 24px;
		padding-right: 24px
	}
}

.container {
	max-width: 1128px
}

.container-sm {
	max-width: 848px
}

.container .container-sm {
	max-width: 800px;
	padding-left: 0;
	padding-right: 0
}



.m-0 {
	margin: 0
}

.mt-0 {
	margin-top: 0
}

.mr-0 {
	margin-right: 0
}

.mb-0 {
	margin-bottom: 0
}

.ml-0 {
	margin-left: 0
}

.m-8 {
	margin: 8px
}

.mt-8 {
	margin-top: 8px
}

.mr-8 {
	margin-right: 8px
}

.mb-8 {
	margin-bottom: 8px
}

.ml-8 {
	margin-left: 8px
}

.m-16 {
	margin: 16px
}

.mt-16 {
	margin-top: 16px
}

.mr-16 {
	margin-right: 16px
}

.mb-16 {
	margin-bottom: 16px
}

.ml-16 {
	margin-left: 16px
}

.m-24 {
	margin: 24px
}

.mt-24 {
	margin-top: 24px
}

.mr-24 {
	margin-right: 24px
}

.mb-24 {
	margin-bottom: 24px
}

.ml-24 {
	margin-left: 24px
}

.m-32 {
	margin: 32px
}

.mt-32 {
	margin-top: 32px
}

.mr-32 {
	margin-right: 32px
}

.mb-32 {
	margin-bottom: 32px
}

.ml-32 {
	margin-left: 32px
}

.m-40 {
	margin: 40px
}

.mt-40 {
	margin-top: 40px
}

.mr-40 {
	margin-right: 40px
}

.mb-40 {
	margin-bottom: 40px
}

.ml-40 {
	margin-left: 40px
}

.m-48 {
	margin: 48px
}

.mt-48 {
	margin-top: 48px
}

.mr-48 {
	margin-right: 48px
}

.mb-48 {
	margin-bottom: 48px
}

.ml-48 {
	margin-left: 48px
}

.m-56 {
	margin: 56px
}

.m-64 {
	margin: 64px
}

.site-header {
	padding: 24px 0
}

.site-header-inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center
}


 @media (min-width: 641px) {
	.site-header {
		position: relative
	}

	.site-header::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 700px;
		background: #242830;
		background: linear-gradient(80deg, rgba(36, 40, 48, 0.5) 0%, rgba(36, 40, 48, 0) 100%);
		transform-origin: 0;
		transform: skewY(-12deg)
	}
} 

 .hero {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 88px
}

.hero-copy {
	position: relative;
	z-index: 1
}

.hero-cta {
	margin-bottom: 40px
}

.hero-figure {
	position: relative
}

.hero-figure svg {
	width: 100%;
	height: auto
}

.hero-figure::before,
.hero-figure::after {
	content: '';
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%
}

.has-animations .hero-figure::before,
.has-animations .hero-figure::after {
	opacity: 0;
	transition: opacity 2s ease
}

.anime-ready .has-animations .hero-figure::before,
.anime-ready .has-animations .hero-figure::after {
	opacity: 1
}

.hero-figure::before {
	top: -57.8%;
	left: -1.3%;
	width: 152.84%;
	height: 178.78%;
	background-image: url("./images/hero-back-illustration.svg")
}

.hero-figure::after {
	top: -35.6%;
	left: 99.6%;
	width: 57.2%;
	height: 87.88%;
	background-image: url("./images/hero-top-illustration.svg")
}

.hero-figure-box {
	position: absolute;
	top: 0;
	will-change: transform
}

.hero-figure-box-01,
.hero-figure-box-02,
.hero-figure-box-03,
.hero-figure-box-04,
.hero-figure-box-08,
.hero-figure-box-09 {
	overflow: hidden
}

.hero-figure-box-01::before,
.hero-figure-box-02::before,
.hero-figure-box-03::before,
.hero-figure-box-04::before,
.hero-figure-box-08::before,
.hero-figure-box-09::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform-origin: 100% 100%
}

.hero-figure-box-01 {
	left: 103.2%;
	top: 41.9%;
	width: 28.03%;
	height: 37.37%;
	background: linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0));
	transform: rotateZ(45deg)
}

.hero-figure-box-01::before {
	background: linear-gradient(to left, #15181D 0%, rgba(21, 24, 29, 0) 60%);
	transform: rotateZ(45deg) scale(1.5)
}

.hero-figure-box-02 {
	left: 61.3%;
	top: 64.1%;
	width: 37.87%;
	height: 50.50%;
	background: linear-gradient(to left top, #0270D7, rgba(2, 112, 215, 0));
	transform: rotateZ(-45deg)
}

.hero-figure-box-02::before {
	background: linear-gradient(to top, #15181D 0%, rgba(21, 24, 29, 0) 60%);
	transform: rotateZ(-45deg) scale(1.5)
}

.hero-figure-box-03 {
	left: 87.7%;
	top: -56.8%;
	width: 56.81%;
	height: 75.75%;
	background: linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0))
}

.hero-figure-box-03::before {
	background: linear-gradient(to left, #15181D 0%, rgba(21, 24, 29, 0) 60%);
	transform: rotateZ(45deg) scale(1.5)
}

.hero-figure-box-04 {
	left: 54.9%;
	top: -8%;
	width: 45.45%;
	height: 60.60%;
	background: linear-gradient(to left top, #0270D7, rgba(2, 112, 215, 0));
	transform: rotateZ(-135deg)
}

.hero-figure-box-04::before {
	background: linear-gradient(to top, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 60%);
	transform: rotateZ(-45deg) scale(1.5)
}

.hero-figure-box-05,
.hero-figure-box-06,
.hero-figure-box-07 {
	background-color: #242830;
	box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25)
}

.hero-figure-box-05 {
	left: 17.4%;
	top: 13.3%;
	width: 64%;
	height: 73.7%;
	transform: perspective(500px) rotateY(-15deg) rotateX(8deg) rotateZ(-1deg)
}

.hero-figure-box-06 {
	left: 65.5%;
	top: 6.3%;
	width: 30.3%;
	height: 40.4%;
	transform: rotateZ(20deg)
}

.hero-figure-box-07 {
	left: 1.9%;
	top: 42.4%;
	width: 12.12%;
	height: 16.16%;
	transform: rotateZ(20deg)
}

.hero-figure-box-08 {
	left: 27.1%;
	top: 81.6%;
	width: 19.51%;
	height: 26.01%;
	background: #0270D7;
	transform: rotateZ(-22deg)
}

.hero-figure-box-08::before {
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.48) 100%);
	transform: rotateZ(45deg) scale(1.5)
}

.hero-figure-box-09 {
	left: 42.6%;
	top: -17.9%;
	width: 6.63%;
	height: 8.83%;
	background: #00BFFB;
	transform: rotateZ(-52deg)
}

.hero-figure-box-09::before {
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.64) 100%);
	transform: rotateZ(45deg) scale(1.5)
}

.hero-figure-box-10 {
	left: -3.8%;
	top: 4.3%;
	width: 3.03%;
	height: 4.04%;
	background: rgba(0, 191, 251, 0.32);
	transform: rotateZ(-50deg)
}


@media (min-width: 641px) {
	.hero {
		text-align: left;
		padding-top: 64px;
		padding-bottom: 88px
	}

	.hero-inner {
		display: flex;
		justify-content: space-between;
		align-items: center
	}

	.hero-copy {
		padding-right: 64px;
		min-width: 552px;
		width: 552px
	}

	.hero-cta {
		margin: 0
	}

	.hero-cta .button {
		min-width: 170px
	}

	.hero-cta .button:first-child {
		margin-right: 16px
	}

	.hero-figure svg {
		width: auto
	}
} 

 .body-wrap {
	background: #1D2026;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh
} 

h1
 {
	clear: both;
	color: #fff;
	font-weight: 600
}

h1,
.h1 {
	font-size: 38px;
	line-height: 48px;
	letter-spacing: 0px
}

@media (min-width: 641px) {

	h1,
	.h1 {
		font-size: 44px;
		line-height: 54px;
		letter-spacing: 0px
	}
}
.hero-paragraph{
    font-size: 17px;
	line-height: 25px;
	letter-spacing: 0px;
    margin-bottom: 40px;
    color: #8A94A7;
	font-weight: 600,   
}

.button {
	display: inline-flex;
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 600;
	line-height: 16px;
	text-decoration: none !important;
	text-transform: uppercase;
	background-color: #242830;
	color: #fff !important;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	justify-content: center;
	padding: 16px 32px;
	height: 48px;
	text-align: center;
	white-space: nowrap
}

.button:hover {
	background: #262a33
}

.button:active {
	outline: 0
}

.button::before {
	border-radius: 2px
}

.button-sm {
	padding: 8px 24px;
	height: 32px
}

.button-primary {
	background: #097dea;
	background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%)
}

.button-primary:hover {
	background: #0982f4;
	background: linear-gradient(65deg, #0275e1 0, #198ffd 100%)
}

.button-block {
	display: flex
}

.button-block {
	display: flex;
	width: 100%
}
.header-logo-image{
	font-size: 30px;
	font-weight: bold;
	color: #8A94A7;
}


